*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    border-top: 2px solid blue;
    width: 100%; height: 20vh;
    margin: 0% auto;
    display: grid;
    grid-template-columns: 45% 1fr;
    align-items: center;
    justify-items: center;
}

.menu__link{
    text-decoration: none;
    color: blue;
}

.menu__link:hover{
    color: rgba(0, 0, 255, 0.813);
    
}

.menu__linkT::after{
    content: "\ |";
    margin-left: 5px;
    margin-right: 5px;
}

.main__sessao{
    background-color: rgba(128, 128, 128, 0.647);
}

.main__img{
    width: 72%;
    margin: auto;
    display: grid;
}

.main__secao{
    width: 72%;
    margin: auto;
    text-align: justify;
}

.main__secao h1{
    margin: 3rem 0;
}

.main__secao p{
    margin-bottom: 2.5rem;
}

span{
    font-weight: bold;
}

footer{
    display: grid;
    justify-items: center;
    margin: 3rem 0;
}