<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="borda">
            <section class="cabecalho">

            </section>
        </div>
    </header>
    <main>

        <div class="borda02">
            <div class="borda03">
                <section class="destaque"></section>

                <section class="populares">
                    <div class="populares__caixa"></div>
                    <div class="populares__caixa"></div>
                </section>
            </div>

        </div>
    </main>
    <footer>
        <section class="rodape">
            <div class="rodape__caixa"></div>
            <div class="rodape__caixa02"></div>
        </section>
    </footer>
</body>

</html>